!!! 5
html
  head
    meta(charset='utf-8')
    title Twitter streaming API example using Socket.IO

    // Mobile Specific
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // CSS
    != css('//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600')
    != css('bootstrap.min.css')
    != css('bootstrap-responsive.min.css')
    != css('app')

    // if lt IE 9
      != js('//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js')
    != js('//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js')
    != js('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js')

  body
    block content