@import 'nib'

body
  background: #FFF
  font: 12px/1.7em 'Open Sans', Helvetica, Arial, sans-serif
  padding-top: 60px
  padding-bottom: 40px

p
  font: 12px/1.7em 'Open Sans', Helvetica, Arial, sans-serif

input,
button,
select,
textarea
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
